@model APIsASManager.CoreV3.Models.GeoModel
@{
    ViewData["Title"] = "IndexAccessGrant";
}

<h1>IndexAccessGrant</h1>

<div class="container-fluid">
    <partial name="/Views/Geo/_CalendarMonth.cshtml" for="@Model.DateAllMonthChunk" />
</div>

